* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
}

/* Style for the navigation menu */
nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

/* Style for dropdown links */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 150px;
    text-align: left;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}