/* styles.css */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(0deg, #4d5e9e, #3c4157);
    ;
    /* Different background */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar-chart {
    background-color: rgb(201, 170, 84);
    width: 195px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

.bar {
    background-color: rgb(69, 125, 170);
    height: 300px;
    width: 30px;
    display: inline-block;
    margin: 15px;
}

.animation-bar {
    height: 100%;
    background-color: rgb(175, 90, 171);
}

@keyframes animation-bar-1 {
    0% {
        height: 100%;
    }

    100% {
        height: 70%;
    }
}

#animation-bar-1 {
    animation-name: animation-bar-1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes animation-bar-2 {
    0% {
        height: 100%;
    }

    100% {
        height: 60%;
    }
}

#animation-bar-2 {
    animation-name: animation-bar-2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes animation-bar-3 {
    0% {
        height: 100%;
    }

    100% {
        height: 20%;
    }
}

#animation-bar-3 {
    animation-name: animation-bar-3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.bar-with-percentage-value {
    display: inline-block;
    text-align: center;
    color: #5f061c;
    /* Text color for percentage values */
}